# Binning
https://t4tutorials.com/binning-methods-for-data-smoothing-in-data-mining/

In [5]:
import pandas as pd

cricketers ={'Name':['Virat','Rohit','Barbar','Boult','Bumrah','Mujeeb','Nabi','Strokes'],
            'Age':[31,32,25,31,26,19,35,29],
             'Grade':['Best','Better','Good','Best','Better','Good','Best','Better'],
             'Role':['Batsman','Batsman','Batsman','Bowler','Bowler','Bowler','All-Rounder','All-Rounder'],
             'Rating':[871,855,829,722,719,701,301,285],
             'Country':['IND','IND','PAK','NZ','IND','AFG','AFG','ENG']
            }
df = pd.DataFrame(cricketers)
df

      Name  Age   Grade         Role  Rating Country
0    Virat   31    Best      Batsman     871     IND
1    Rohit   32  Better      Batsman     855     IND
2   Barbar   25    Good      Batsman     829     PAK
3    Boult   31    Best       Bowler     722      NZ
4   Bumrah   26  Better       Bowler     719     IND
5   Mujeeb   19    Good       Bowler     701     AFG
6     Nabi   35    Best  All-Rounder     301     AFG
7  Strokes   29  Better  All-Rounder     285     ENG

In [ ]:
# Continus variables to binning

In [11]:
def binning(col,cut_points,labels=None):
    minval = min(col)
    maxval = max(col)
    break_points = [minval]+cut_points+[maxval]
    print(break_points)
    if not labels:
        labels = range(len(cut_points)+1)
    colBin = pd.cut(col,bins=break_points,labels=labels,include_lowest=True)
    return colBin

In [14]:
cut_points =[25,30]
labels =['Young','Senior','SuperSenior']
df['Exp_category'] = binning(df['Age'],cut_points,labels)
df

[19, 25, 30, 35]

      Name  Age   Grade         Role  Rating Country Exp_category
0    Virat   31    Best      Batsman     871     IND  SuperSenior
1    Rohit   32  Better      Batsman     855     IND  SuperSenior
2   Barbar   25    Good      Batsman     829     PAK        Young
3    Boult   31    Best       Bowler     722      NZ  SuperSenior
4   Bumrah   26  Better       Bowler     719     IND       Senior
5   Mujeeb   19    Good       Bowler     701     AFG        Young
6     Nabi   35    Best  All-Rounder     301     AFG  SuperSenior
7  Strokes   29  Better  All-Rounder     285     ENG       Senior

# Summarizing the Data Frame Descriptive Statistics

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

The <b>describe()</b> method returns description of the data in the DataFrame.


If the DataFrame contains numerical data, the description contains these information for each column:


count - The number of not-empty values.

mean - The average (mean) value.

std - The standard deviation.

min - the minimum value.

25% - The 25% percentile*.

50% - The 50% percentile*.

75% - The 75% percentile*.

max - the maximum value.

*Percentile meaning: how many of the values are less than the given percentile. Read more about percentiles in our Machine Learning Percentile chapter.
Syntax : dataframe.describe(percentiles, include, exclude, datetime_is_numeric)

In [43]:
import pandas as pd
orders = pd.read_excel(r'Sample - Superstore Sales.xls')
orders.head()

In [21]:
orders.describe()
## descibe method by default it takes only numerical values
## along with Row ID and Order ID

In [29]:
orders.describe(include='all')

In [32]:
orders.describe(include=['object'])
## can see which contaion character data

In [34]:
orders.describe(include=['object','float'])

In [37]:
orders[orders['Order Priority'] == 'High'].describe()

In [42]:
orders[(orders['Order Priority'] == 'High') & (orders.Sales >= 10000)].describe()

## Groupby
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html